* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #fff;
    color: #000;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-family: 'Work Sans' ,'Ariel' ,'sans-serif';
    font-weight: 300;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}
header{
    background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.7)),url(img/header-img-min.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.header-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h1 {
    font-size: 500%;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
}
h2 {
    font-size: 200%;
    color: #fff;
    font-weight: 400;
}
.header-box-text {
    margin-bottom: 100px;
}
.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
}
.btn-full:link,
.btn-full:visited{
    background-color: #ed07b7;
    color: #fff;
}
.btn-full:hover ,
.btn-full:active {
    background-color: #bd0592;
}
.main-nav {
    list-style: none;
}