body{
    width: 60%;
}
h1, h2{
    color: #ffa500;
}
h1 {
    font-size: 50px;
}
h2{
    font-size: 30px;
}
img {
    height: auto;
    width: 100%;
}
#footer-image {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}